<IfModule mod_rewrite.c>
  Options +FollowSymLinks
    
  RewriteEngine On

  RewriteRule ^(\d+/?.*)$ https://%{HTTP_HOST}/monster/$1 [L,R=301]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !\.(css|js|json|jpe?g|gif|png)$
  RewriteRule ^(.*)$ metaChenger.cgi/$1 [L,QSA]

  # CORS指定対象を正規表現で指定するためのもの。
  RewriteCond %{REQUEST_URI} \.json$
  RewriteCond %{HTTP:Origin} \.?rainbowsite\.net$ [OR]
  RewriteCond %{HTTP:Origin} ^https?://localhost [OR]
  RewriteCond %{HTTP:Origin} 192\.168\.\d+\.\d+$
  RewriteRule . - [E=CORS_OK:1]
  Header set Access-Control-Allow-Origin "*" env=CORS_OK
</IfModule>

<Files ~ "\.(gif|png|jpe?g)$">
SetEnvIf Referer "^https?://.*\.?rainbowsite\.net" ShowOK
SetEnvIf Referer "^https?://localhost" ShowOK
SetEnvIf Referer "^https?://192\.168\.\d+\.\d+" ShowOK
SetEnvIf Referer "^$" ShowOK
order deny,allow
deny from all
allow from env=ShowOK
</Files>
