<!DOCTYPE html>
<html lang="ja">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124771141-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
</script>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="みんなで協力してパズドラモンスターのデータベースを作り、作成されたJSONデータを自由に使用できる形で公開しようという試みです。">
<meta name="author" content="RAINBOW佐崎">

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@mtPADmDB" />
<meta property="og:url" content="https://padmdb.rainbowsite.net/" />
<meta property="og:title" content="みんなで作るパズドラモンスターデータベース" />
<meta property="og:description" content="みんなで協力してパズドラモンスターのデータベースを作り、作成されたJSONデータを自由に使用できる形で公開しようという試みです。" />
<meta property="og:image" content="https://padmdb.rainbowsite.net/image/twitterCard.png" />

<title>みんなで作るパズドラモンスターデータベース</title>
<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<style>
  body {
    color: rgba(0, 0, 0, 0.8);
  }

  [v-cloak] {
    display: none;
  }
  .breadcrumb-item+.breadcrumb-item::before {
    content: ">";
  }
  .slash-join +.slash-join::before {
    display: inline-block;
    padding: 0 0.4rem;
    content: "/";
  }

  .message-enter-active, .message-leave-active, .error-leave-active {
    transition: opacity .3s
  }
  .message-enter { opacity: 0; }
  .message-leave, .error-leave { opacity: 1; }
  .message-leave-to, .error-leave-to { opacity: 0; }

  .error-enter-active {
    animation: Blink3 1s;
  }
  @keyframes Blink3 {
      0% { opacity: 0; }
     20% { opacity: 1; }
     40% { opacity: 0; }
     60% { opacity: 1; }
     80% { opacity: 0; }
  }
</style>
</head>

<body style="padding-top: 4.5rem;">

<div id="app" v-cloak>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="box-shadow: 0px 0px 4px rgba(0,0,0,0.6);">
    <router-link class="navbar-brand" to="/">mtPADmDB</router-link>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li v-for="navi in navis" class="nav-item" @click="hideNavi">
          <router-link class="nav-link" :class="{ active: $route.path === navi.to }" :to="navi.to">{{navi.text}}</router-link>
        </li>
      </ul>
    </div>
  </nav>
  
  <div class="container">
    <div style="position:fixed; z-index: 2;">
      <transition-group name="error">
        <div v-for="error in errors" :key="error" class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>注意!</strong>　{{error}}
          <button type="button" @click="$store.commit('deleteError', error)" class="close" aria-label="閉じる">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </transition-group>
      <transition-group name="message">
        <div v-for="message in messages" :key="message" class="alert alert-success alert-dismissible fade show" role="alert">
          {{message}}
        </div>
      </transition-group>
    </div>
    
    <nav aria-label="パンくずリスト">
      <ol class="breadcrumb">
        <li v-for="breadcrumb in breadcrumbs" :aria-current="breadcrumb.link ? '' : 'page '" class="breadcrumb-item" :class="{ active: !breadcrumb.link }">
          <router-link v-if="breadcrumb.link" :to="breadcrumb.link" >{{breadcrumb.text}}</router-link>
          <template v-else>{{breadcrumb.text}}</template>
        </li>
      </ol>
    </nav>
    <router-view></router-view>
    <div style="margin-top:2rem; display: flex; justify-content: space-between; flex-wrap: wrap;">
      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=myfavoriteday-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B01CDP1DMS&linkId=2fde5a6504e57a723c17da60307b4591"></iframe>
      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=myfavoriteday-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=4047333301&linkId=969a4d654c0891806ec194ae22c2d35d"></iframe>
      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=myfavoriteday-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B0719QSRBV&linkId=22637bfb9546ec8a94a8a1e112a30b16"></iframe>
      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t=myfavoriteday-22&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins=B07FF4FPPV&linkId=c6edf491b7d7333cf8ffebd9a0d9b039"></iframe>
    </div>
  </div>
</div>

<!-- これは何？ページ -->
<script type="text/x-template" id="templateAbout">
  <div>
    <h2>これは何？</h2>
    <p>
      みんなで協力してパズドラモンスターのデータベースを作り、作成されたJSONデータを自由に使用できる形で公開しようという試みです。
      たとえるなら、モンスターデータに特化した Wiki といった感じでしょうか。 
    </p>
    <h3>ご協力のお願い</h3>
      <p>『みんなでつくる』というコンセプトなので、よろしければデータ登録のお手伝いをしてもらえたらと思います。</p>
      <p>データはフォームに入力して登録したり修正したりする、という形になっているので、未登録のキャラクターの名前と属性を軽く登録、なんて感じでもいいのでご協力をよろしくお願います。</p>
      <p>もちろん、その他の項目も登録してもらえると大変ありがたいです。</p>
      <p>また、モンスターアイコン画像がないと表示がいろいろと悲しい感じだったので、モンスター画像も受け付けてます。</p>
      <p>こちらはモンスター情報表示画面のスクリーンショットを指定すると自動でモンスター画像とアイコン画像が切り抜かれて送信することができるものになっています。</p>
      <p>切り抜き機能は、 iPhone のスクショだと一通り大丈夫、なはずで、Android のスクショはテスト不十分ですが行ける、といいなあ、といった感じです。</p>
      <p>情報が登録されているけどアイコンが表示されていないモンスターを見かけたときに、サクッとスクショ撮ってサクッと登録してもらえるとありがたいです。</p>
      <p>もちろん、情報の登録と画像の登録の両方を合わせて行ってもらえたら大変大変ありがたいです。です。</p>

    <h3>JSONファイルリンク</h3>
    <p>以下のJSONは自由に再利用可能なものとして公開しています。</p>
    <ul>
      <li><a href="./listJson/monster_data.json" target="_blank">モンスター情報</a></li>
      <li><a href="./listJson/skill_list.json" target="_blank">スキル情報</a></li>
      <li><a href="./listJson/leader_skill_list.json" target="_blank">リーダースキル情報</a></li>
    </ul>
    <h3>JSONファイルのフォーマットについて</h3>
    <p>詳細はいわゆる『あとで書く』。</p>
    <p>ざっくり書くと、モンスター番号をキーとしてモンスター情報を値として持つオブジェクト。スキルとリーダースキルは番号が入っていて別ファイルにあるオブジェクトの情報を参照して使用する、というものです。</p>

    <h3>モンスターなどの画像の再利用について</h3>
    <p>モンスター画像は ./monsterImages/{番号}.jpg に、モンスターアイコンの画像は /mosnterIcons/icon_{番号}.jpg にあります。</p>
    <p>また、属性アイコンやタイプアイコン、覚醒アイコンを切り抜いたものは ./image/attribute/{番号}.png , ./image/type/{番号}.png , ./image/awaken/{番号}.png にあります。</p>
    <p>
      当サイトとしては、これらの画像の再利用についてはノーコメント、ということにしておきますが、
      前提としてこれらの画像はガンホー・オンライン・エンターテイメント株式会社および関係各社、各イラストレーター様の著作物であるということを留意してください。
    </p>
      <h4>モンスター画像URL例</h4>
    <ul>
        <li><a href="./monsterImages/1.jpg" target="_blank">./monsterImages/1.jpg</a></li>
        <li><a href="./monsterIcons/icon_1.jpg" target="_blank">./monsterIcons/icon_1.jpg</a></li>
    </ul>
    <h4>各種素材画像URL例</h4>
    <ul>
        <li><a href="./image/attribute/1.png" target="_blank">./image/attribute/1.png</a></li>
        <li><a href="./image/type/1.png" target="_blank">./image/type/1.png</a></li>
        <li><a href="./image/awaken/1.png" target="_blank">./image/awaken/1.png</a></li>
    </ul>

    <h3>管理者情報</h3>
    <dl class="row">
      <dt class="col-sm-3">管理者名</dt>
      <dd class="col-sm-9">RAINBOW佐崎</dd>
      <dt class="col-sm-3">メールアドレス</dt>
      <dd class="col-sm-9">rainbowsazaki@gmail.com</dd>
      <dt class="col-sm-3">Twitter アカウント</dt>
      <dd class="col-sm-9"><a href="https://twitter.com/rainbowsazaki" target="_blank">@rainbowsazaki</a></dd>
      <dt class="col-sm-3">サイトの Twitter アカウント</dt>
      <dd class="col-sm-9"><a href="https://twitter.com/mtPADmDB" target="_blank">@mtPADmDB</a></dd>
    </dl>
  </div>
</script>

<!-- モンスター一覧ページ -->
<script type="text/x-template" id="templateMonsterList">
  <div>
    <h1>みんなで作るパズドラモンスターデータベース</h1>
    <div><tweet-button /></div>

    <div v-if="isLoadingMonsterList">データの読み込み中です ...</div>
    <div v-else>現在の登録数：{{monsterCount}}種類</div>
    
    <form @submit="$event.preventDefault(); search();">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="モンスター名検索" v-model="searchWord">
        <div class="input-group-append">
          <button type="submit" class="btn btn-outline-secondary">検索</button>
        </div>
      </div>
    </form>
    <pagination :page="page" :pageCount="pageCount" />

    <div class="row">
      <div v-for="data in monsterTableInPage" class="col-md-6" style="padding-bottom: 2px; margin-top: 2px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
        <router-link :to="'/' + data.no">
          <monster-icon :no="data.no" :monsterTable="monsterTable" :imageTable="imageTable" width="3em" height="3em"
          /><div style="display: inline-block; padding-left: 4px; vertical-align:bottom; height: 3em;">
            <span style="font-size: 80%;">No.{{data.no}}</span><br>
            {{data.name}}
          </div>
        </router-link>
      </div>
    </div>

    <pagination :page="page" :pageCount="pageCount" />

  </div>
</script>

<!-- モンスター情報ページ -->
<script type="text/x-template" id="templateMonsterData">
  <div>
    <div v-if="isHistory" class="alert alert-primary" role="alert">
        {{monsterData.datetime}} 時点のデータです
    </div>
    <div class="row">
      <div class="col-12">
        <h2>No. {{monsterData.no}} {{monsterData.name}}</h2>
      </div>
    </div>
    <div v-if="!isHistory"><tweet-button v-if="monsterData.no" /></div>
    <div class="row">
      <div class="col-md-6">
        <img v-if="monsterData.no" :src="monsterImagePath" style="width: 100%; height: auto; max-width: 400px; display: block; margin: 0 auto;" />
        <table class="table table-bordered table-sm">
          <tr class="thead-light">
            <th colspan="2">タイプ</th><th>属性</th>
          </tr>
          <tr>
            <td colspan="2"><span v-for="type in monsterData.types" v-if="type !== 0" class="slash-join"><img v-if="type !== null" :src="`./image/type/${type}.png`" alt="" style="width:24px; height: 24px;">{{typeTable[type].name}}</span></td>
            <td>
              <span v-if="monsterData.attributes[0] === null">不明</span>
              <img  v-for="attr in monsterData.attributes" v-if="attr != 0 && attr !== null" style="width: 1.1em; height: 1.1em;" :src="`./image/attribute/${attr}.png`">
            </td>
          </tr>
          <tr class="thead-light">
            <th>コスト</th><th>レア</th><th>アシスト</th>
          </tr>
          <tr>
            <td v-if="monsterData.cost" class="text-right">{{monsterData.cost }}</td>
            <td v-else>不明</td>
            <td v-if="monsterData.rare" class="text-right">{{monsterData.rare}}</td>
            <td v-else>不明</td>
            <td>{{booleanTable[monsterData.assist]}}</td>
          </tr>
          
          <tr class="thead-light">
            <th>最大レベル</th><th>必要経験値</th><th>限界突破</th>
          </tr>
          <tr>
            <td v-if="monsterData.maxLevel" class="text-right">{{monsterData.maxLevel}}</td>
            <td v-else>不明</td>
            <td v-if="monsterData.maxExp != null" class="text-right">{{monsterData.maxExp | addComma}}</td>
            <td v-else>不明</td>
            <td>{{booleanTable[monsterData.overLimit]}}</td>
          </tr>
          <tr class="thead-light"><th colspan="3">覚醒</th></tr>
          <tr><td colspan="3">
              <span v-if="monsterData.awakens[0] === 0">なし</span>
              <span v-else-if="monsterData.awakens[0] === null">不明</span>
              <ul v-else style="list-style: none; margin: 0px; padding: 0px; display: flex; justify-content: space-between;">
              <li v-for="awaken in monsterData.awakens" style="flex-grow: 1; width: 24px;">
                <img v-if="awaken !== 0" :src="'./image/awaken/' + awaken + '.png'" style="width: 24px; height: 24px;" :title="awakenTable[awaken].name + '\n\n' + awakenTable[awaken].description" />
              </li>
            </ul>
          </td></tr>
          <template>
            <tr class="thead-light"><th colspan="3">振れる潜在キラー</th></tr>
            <tr>
              <td colspan="3">
                <span v-if="monsterData.types[0] === null">不明</span>
                <ul v-else-if="senzaiKillerNos.length" style="list-style: none; margin: 0px; padding: 0px;">
                  <li v-for="senzaiKillerType in senzaiKillerNos" style="display: inline-block">
                    <img :src="`./image/senzaiKiller/${senzaiKillerType}.png`" :alt="`${typeTable[senzaiKillerType].name}キラー`"style="width: auto; height: 24px;" />
                  </li>
                </ul>
                <span v-else>振れる潜在キラーはありません。</span>
              </td>
            </tr>
          </template> 
        </table>
      </div>
      <div class="col-md-6">
        <table class="table table-bordered table-sm">
          <template v-if="hasMaxParam">
            <tr class="thead-light"><th colspan="2">レベル最大時</th><th v-if="canAddPlus">+297</th><th>＋換算</th></tr></td>
            <tr><th style="width:auto;">HP</th><td style="width: 25%;" class="text-right">{{monsterData.maxParam.hp}}</td><td v-if="canAddPlus" style="width:25%;" class="text-right">{{monsterData.maxParam.hp + 10 * 99}}</td><td style="width: 25%;" class="text-right">{{plusCountParam.hp.toFixed(1)}}</td></tr>
            <tr><th>攻撃</th><td class="text-right">{{monsterData.maxParam.attack}}</td><td v-if="canAddPlus" class="text-right">{{monsterData.maxParam.attack + 5 * 99}}</td><td class="text-right">{{plusCountParam.attack.toFixed(1)}}</td></tr>
            <tr><th>回復</th><td class="text-right">{{monsterData.maxParam.recovery}}</td><td v-if="canAddPlus" class="text-right">{{monsterData.maxParam.recovery + 3 * 99}}</td><td class="text-right">{{plusCountParam.recovery.toFixed(1)}}</td></tr>
            <tr><td></td><td v-if="canAddPlus"></td><th class="text-right">＋合計</th><td class="text-right">{{plusCountParam.total.toFixed(1)}}</td></tr>
          </template>
          <tr v-else class="thead-light"><th colspan="4">レベル最大時パラメータ不明</th></tr>          
          <template v-if="monsterData.overLimit == 1">
            <template v-if="hasOverLimitParam">
              <tr class="thead-light"><th colspan="2">レベル110（限界突破）時</th><th v-if="canAddPlus">+297</th><th>＋換算</th></tr></td>
              <tr><th>HP</th><td class="text-right">{{monsterData.overLimitParam.hp}}</td><td v-if="canAddPlus" class="text-right">{{monsterData.overLimitParam.hp + 10 * 99}}</td><td class="text-right">{{plusCountOverlimitParam.hp.toFixed(1)}}</td></tr>
              <tr><th>攻撃</th><td class="text-right">{{monsterData.overLimitParam.attack}}</td><td v-if="canAddPlus" class="text-right">{{monsterData.overLimitParam.attack + 5 * 99}}</td><td class="text-right">{{plusCountOverlimitParam.attack.toFixed(1)}}</td></tr>
              <tr><th>回復</th><td class="text-right">{{monsterData.overLimitParam.recovery}}</td><td v-if="canAddPlus" class="text-right">{{monsterData.overLimitParam.recovery + 3 * 99}}</td><td class="text-right">{{plusCountOverlimitParam.recovery.toFixed(1)}}</td></tr>
              <tr><td></td><td v-if="canAddPlus"></td><th class="text-right">＋合計</th><td class="text-right">{{plusCountOverlimitParam.total.toFixed(1)}}</td></tr>
            </template>
            <tr v-else class="thead-light"><th colspan="4">限界突破時パラメータ不明</th></tr>
          </template>
        </table>

        <table class="table table-bordered table-sm">
            <tr class="thead-light"><th>スキル</th></tr>
            <tr v-if="!skillDetails.name"><td>不明</td></tr>
            <tr v-if="skillDetails.name"><td>
              {{skillDetails.name}}
              <span v-if="skillDetails.baseTurn >= 1" style="font-size: 80%; float:right;">(Lv.1 ターン:{{skillDetails.baseTurn}} 最大Lv.<span v-if="skillDetails.maxLevel">{{skillDetails.maxLevel}} ターン:{{skillDetails.baseTurn - skillDetails.maxLevel + 1}}</span><span v-else>不明</span>)</span>
            </td></tr>
            <tr v-if="skillDetails.name"><td style="font-size: 90%; padding-left: 1em; white-space: pre;">{{skillDetails.description}}</td></tr>
  
            <tr class="thead-light"><th>リーダースキル</th></tr>
            <tr v-if="!leaderSkillDetails.name"><td>不明</td></tr>
            <tr v-if="leaderSkillDetails.name"><td>
              {{leaderSkillDetails.name}}
            </td></tr>
            <tr v-if="leaderSkillDetails.name"><td style="font-size: 90%; padding-left: 1em; white-space: pre;" v-html="leaderSkillDescriptionHtml"></td></tr>
          </table> 
      </div>
    </div>

    <div class="row" v-if="monsterData.overLimit == 1 && monsterData.superAwakens.length">
      <div class="col-12">
        <table class="table table-bordered table-sm">
          <tr class="thead-light"><th>超覚醒</th></tr>
          <tr><td>
              <ul style="list-style: none; margin: 0px; padding: 0px; display: flex;">
                <li v-for="superAwaken in monsterData.superAwakens" style="margin-right: 2px;"><img v-if="superAwaken !== null" :src="'./image/awaken/' + superAwaken + '.png'" width="24" height="24" :title="awakenTable[superAwaken].name + '\n\n' + awakenTable[superAwaken].description"></li>
              </ul>
          </td></tr>
        </table>
      </div>
    </div>
    <div v-if="monsterData.evolutionType !== 0">
      <h4>このモンスターへの進化</h4>
      <table class="table table-bordered table-sm">
        <tr class="thead-light"><th>{{evolutionTypeTable[monsterData.evolutionType]}}</th></tr>
        <template v-if="monsterData.evolutionType !== null">
        <tr><td>
          <template v-if="monsterData.evolution.baseNo">
            <monster-icon :no="monsterData.no" :monsterTable="monsterTable" :imageTable="imageTable" width="2em" height="2em" />
            ←
            <router-link :to="`/${monsterData.evolution.baseNo}`">
              <monster-icon :no="monsterData.evolution.baseNo" :monsterTable="monsterTable" :imageTable="imageTable" width="3em" height="3em" />
              No. {{monsterData.evolution.baseNo}} {{monsterTable[monsterData.evolution.baseNo] && monsterTable[monsterData.evolution.baseNo].name}}
            </router-link>
          </template>
          <span v-else>進化元不明</span>
        </td></tr>
        <tr class="thead-light"><th>進化素材</th></tr>
        <tr><td>
          <ul v-if="monsterData.evolution.materials[0]" style="width: 100%; list-style: none; margin: 0px; padding: 0px; display:flex;">
            <li v-for="material in monsterData.evolution.materials" v-if="material" style="margin-right: 2px;">
              <router-link :to="`/${material}`">
                <monster-icon :no="material" :monsterTable="monsterTable" :imageTable="imageTable" width="3em" height="3em" />
              </router-link>
            </li>
          </ul>
          <span v-else>不明</span>
        </td></tr>
        </template>
      </table>
    </div>
    <div v-if="evolutionTable[monsterData.no]">
      <h4>このモンスターからの進化</h4>
      <table v-for="evolution in evolutionTable[monsterData.no]" class="table table-bordered table-sm">
        <tr class="thead-light"><th>{{evolutionTypeTable[evolution.type]}}</th></tr>
        <tr><td>
          <monster-icon :no="monsterData.no" :monsterTable="monsterTable" :imageTable="imageTable" width="2em" height="2em" />
          →
          <router-link v-if="evolution.no" :to="`/${evolution.no}`">
            <monster-icon :no="evolution.no" :monsterTable="monsterTable" :imageTable="imageTable" width="3em" height="3em" />
            No. {{evolution.no}} {{monsterTable[evolution.no] && monsterTable[evolution.no].name}}
          </router-link>
          <span v-else>不明</span>
        </td></tr>
        <tr class="thead-light"><th>進化素材</th></tr>
        <tr><td>
          <ul v-if="evolution.materials[0]" style="width: 100%; list-style: none; margin: 0px; padding: 0px; display:flex;">
            <li v-for="material in evolution.materials" v-if="material" style="margin-right: 2px;">
              <router-link :to="`/${material}`">
                <monster-icon :no="material" :monsterTable="monsterTable" :imageTable="imageTable" width="3em" height="3em" />
              </router-link>
            </li>
          </ul>
          <span v-else>不明</span>
        </td></tr>
      </table>
    </div>
    <div v-if="monsterData.comment">
      <table class="table table-bordered table-sm">
        <tr class="thead-light"><th>編集コメント</th></tr>
        <tr><td>{{monsterData.comment}}</td></tr>
      </table>
    </div>
    <router-link v-if="isHistory" :to=" `/history/${$route.params.id}/edit`" class="btn btn-primary">履歴をもとに編集する</router-link>
    <router-link v-else :to="`/${monsterData.no}/edit`" class="btn btn-primary">編集する</router-link>
    <router-link :to="`/${monsterData.no}/pic`" class="btn btn-primary">モンスター画像投稿</router-link>

    <div style="margin-top: 1rem;">
      <h4>編集履歴</h4>
      <button v-if="!histories" class="btn btn-primary" @click="loadHistories" :disabled="isLoadingHistory">
        {{isLoadingHistory ? '読み込み中…' : '編集履歴を確認する'}}
      </button>
      <ul v-if="histories">
        <li v-for="history in histories">
          <component :is="isShowHistory(history) ? 'span' : 'router-link'" :to="`/history/${history.id}`">
            {{history.datetime}} - 
            <span v-if="history.comment">{{history.comment}}</span>
            <span v-else style="opacity: 0.6;">（コメントなし）</span>
          </component>
          <span v-if="isShowHistory(history)">（表示中）</span><span v-if="isActiveHistory(history)">（現在のデータ）</span>
        </li>
      </ul>
    </div>
  </div>
</script>

<!-- モンスター編集履歴ページ -->
<script type="text/x-template" id="templateHistory">
<div>
  <table class="table table-sm">
    <tr v-for="history in histories">
      <td>
        <router-link :to="`/history/${history.id}`">{{history.datetime}}</router-link>
      </td>
      <td><router-link :to="`/${history.no}`">
        <monster-icon :no="history.no" :monsterTable="monsterTable" :imageTable="imageTable" width="2em" height="2em" />
        No.{{history.no}} {{monsterName(history.no)}}
      </router-link></td>
      <td>
        <span v-if="history.comment">{{history.comment}}</span>
        <span v-else style="opacity: 0.6;">（コメントなし）</span>
      </td>
      <td><span v-if="isActiveHistory(history)">（現在のデータ）</span></td>
    </tr>
  </table>
</div>
</script>

<!-- モンスター情報編集ページ -->
<script type="text/x-template" id="templateMonsterEdit">
  <div>
    <p>※文字を入力するところで値が不明の場合は空欄にしておいてください。</p>
    <form onsubmit="return false;" @submit="submit">
      <table class="table table-bordered table-sm">
        <tr>
          <td colspan="12">
            <div class="form-row">
              <div class="form-group col-md-4">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">No.</span>
                  </div>
                  <input type="number" class="form-control" id="inputNo" v-model="monsterData.no" required min="1" max="9999">
                </div>
              </div>
              <div class="form-group col-md-8">
                <input type="text" class="form-control" id="inputMonsterName" placeholder="モンスター名" v-model="monsterData.name" required minLength="1" maxLength="50">
              </div>
            </div>
          </td>
        </tr>
        <tr class="thead-light"><th colspan="12">タイプ</th></tr>
        <tr>
          <td v-for="n in 3" colspan="4" :key="n">
            <select class="custom-select" :id="'selectType' + n" v-model="monsterData.types[n - 1]">
              <option v-for="(type, key) in typeTable" :disabled="key == ((n == 1) ? 0 : 'null')" :value="key" :key="key" v-once>{{type.name}}</option>
            </select>
          </td>
        </tr>
        <tr class="thead-light">
          <th colspan="3">属性</th>
          <th colspan="3">複属性</th>
          <th colspan="3">レア</th>
          <th colspan="3">コスト</th>
        </tr>
        <tr>
            <td colspan="3">
                <select class="custom-select" id="selectAttribute0" v-model="monsterData.attributes[0]">
                  <option v-for="(attribute, key) in attributeTable" :disabled="key == 0" :value="key" :key="key" v-once>{{attribute}}</option>
                </select></td>
            <td colspan="3">
                <select class="custom-select" id="selectAttribute1" v-model="monsterData.attributes[1]">
                  <option v-for="(attribute, key) in attributeTable" :disabled="key == 'null'" :value="key" :key="key" v-once>{{attribute}}</option>
                </select></td>
            <td colspan="3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" style="padding: 0.375rem; font-size: 80%;">★</span>
                </div>
                <input type="number" class="form-control" id="inputRare" v-model="monsterData.rare" min="1" max="99">
              </div>
            </td>
            <td colspan="3">
              <input type="number" class="form-control" id="inputCost" v-model="monsterData.cost" min="1" max="999">
            </td>
        </tr>
        <tr class="thead-light">
          <th colspan="4">最大レベル</th>
          <th colspan="4">最大レベルに必要な経験値</th>
          <th colspan="4">アシスト</th>
        </tr>
        <tr>
          <td colspan="4">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Lv.</span>
              </div>
              <input type="number" class="form-control" id="inputMaxLevel" v-model="monsterData.maxLevel" min="1" max="99">
            </div>
          </td>
          <td colspan="4">
            <input type="number" class="form-control" id="inputMaxExp" v-model="monsterData.maxExp" min="0" max="999999999">
          </td>
          <td colspan="4">
            <select class="custom-select" id="selectAssist" v-model="monsterData.assist">
              <option v-for="(type, key) in booleanTable" :value="key" :key="key" v-once>{{type}}</option>
            </select>
          </td>
        </tr>
        <tr class="thead-light">
          <th colspan="12">覚醒</th>
        </tr>
        <tr v-for="n in 9" :key="n">
          <td colspan="12">
            <pd-select v-model="monsterData.awakens[n - 1]" :id="`selectAwaken${n}`">
              <template v-for="(awaken, key) in awakenTable" :key="key" v-once>
              <pd-option v-if="n == 1 || key != 'null'" :value="key" v-once><img :src="(key == 0 || key === 'null') ? undefined : `./image/awaken/${key}.png`" width="24" height="24" v-once /> {{awaken.name}}</pd-option>
              </template>
            </pd-select>
          </td>
        </tr>
        <tr class="thead-light">
          <th colspan="12">レベル最大時パラメータ</th>
        </tr>
        <tr>
          <th colspan="4">HP</th>
          <td colspan="8">
            <input type="number" class="form-control" id="inputMaxHp" v-model="monsterData.maxParam.hp" min="1" max="99999">
          </td>
        </tr>
        <tr>
          <th colspan="4">攻撃</th>
          <td colspan="8">
            <input type="number" class="form-control" id="inputMaxAttack" v-model="monsterData.maxParam.attack" min="1" max="99999">
          </td>
        </tr>
        <tr>
          <th colspan="4">回復</th>
          <td colspan="8">
            <input type="number" class="form-control" id="inputMaxRecovery" v-model="monsterData.maxParam.recovery" min="-9999" max="99999">
          </td>
        </tr>
        <tr class="thead-light">
          <th colspan="12">スキル</th>
        </tr>
        <tr>
          <th colspan="12">名称</th>
        </tr>
        <tr>
          <td colspan="12">
            <skill-incremental-input id="inputSkillName" placeholder="スキル名" @select-no="monsterData.skill = $event;" v-model="skillName" :skill-table="skillTable" :required="skillDescription.length > 0"></skill-incremental-input>
          </td>
        </tr>
        <tr>
          <th colspan="4">SLv1時ターン</th>
          <th colspan="4">最大SLv</th>
          <th colspan="4">最短ターン</th>
        </tr>
        <tr>
          <td colspan="4">
            <input type="number" class="form-control" id="inputSkillBaseTurn" v-model="skillBaseTurn" min="1" max="199">
          </td>
          <td colspan="4">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">SLv.</span>
              </div>
              <input type="number" class="form-control" id="inputSkillMaxLevel" v-model="skillMaxLevel" min="1" max="99">
            </div>
          </td>
          <td colspan="4">{{(minimumSkillTurn) ? minimumSkillTurn + 'ターン' : '-' }}</td>
        </tr>
        <tr>
          <th colspan="12">説明</th>
        </tr>
        <tr>
          <td colspan="12">
            <textarea class="form-control" id="textareaSkillDescription" rows="2" v-model="skillDescription" maxLength="200"></textarea>
          </td>
        </tr>
        <tr class="thead-light">
          <th colspan="12">リーダースキル</th>
        </tr>
        <tr>
          <th colspan="12">名称</th>
        </tr>
        <tr>
          <td colspan="12">
            <skill-incremental-input id="inputLeaderSkillname" placeholder="リーダースキル名" @select-no="monsterData.leaderSkill = $event;" v-model="leaderSkillName" :skill-table="leaderSkillTable" :required="leaderSkillDescription.length > 0"></skill-incremental-input>
          </td>
        </tr>
        <tr class="">
          <th colspan="12">説明</th>
        </tr>
        <tr>
          <td colspan="12">
            <textarea class="form-control" id="textareaLeaderSkillDescription" rows="2" v-model="leaderSkillDescription" maxLength="200"></textarea>
          </td>
        </tr>
        <tr class="thead-light">
          <th colspan="12">限界突破</th>
        </tr>
        <tr>
          <td colspan="12">
            <select class="custom-select" id="selectOverLimit" v-model="monsterData.overLimit">
              <option v-for="(type, key) in booleanTable" :value="key" :key="key" v-once>{{type}}</option>
            </select>
          </td>
        </tr>
        <template v-if="monsterData.overLimit == 1">
          <tr class="thead-light">
            <th colspan="12">限界突破時パラメータ</th>
          </tr>
          <tr>
            <th colspan="4">HP</th>
            <td colspan="8">
              <input type="number" class="form-control" id="inputOverLimitHp" v-model="monsterData.overLimitParam.hp" min="1" max="99999">
            </td>
          </tr>
          <tr>
            <th colspan="4">攻撃</th>
            <td colspan="8">
              <input type="number" class="form-control" id="inputOverLimitAttack" v-model="monsterData.overLimitParam.attack" min="1" max="99999">
            </td>
          </tr>
          <tr>
            <th colspan="4">回復</th>
            <td colspan="8">
              <input type="number" class="form-control" id="inputOverLimitRecovery" v-model="monsterData.overLimitParam.recovery" min="-9999" max="99999">
            </td>
          </tr>
          <tr class="thead-light">
            <th colspan="12">超覚醒</th>
          </tr>
          <tr>
            <td colspan="12">
              <span class="col-md-12 form-check" style="display:inline-block;" >
                <input class="form-check-input" type="checkbox" :value="null" v-model="monsterData.superAwakens" id="superAwakenNull">
                <label class="form-check-label" for="superAwakenNull">
                  不明
                </label>
              </span>
              <span v-for="(awaken, key) in awakenTable" v-if="key != 0 && key != 'null'" class="col-md-3 form-check" style="display:inline-block;" :key="key">
                <input class="form-check-input" type="checkbox" :value="key" v-model="monsterData.superAwakens" :id="'superAwaken' + key" :disabled="isUnknownSuperAwaken">
                <label class="form-check-label" :for="'superAwaken' + key">
                  <img v-if="key !== 'null'" :src="'./image/awaken/' + key + '.png'" width="24" height="24" />{{awaken.name}}
                </label>
              </span>
            </td>
          </tr>
        </template>
        <tr class="thead-light">
          <th colspan="12">このモンスターへの進化形式</th>
        </tr>
        <tr>
          <td colspan="12"> 
            <select class="custom-select" id="evolutionType" v-model="monsterData.evolutionType">
              <option v-for="(type, key) in evolutionTypeTable" :value="key" :key="key" v-once>{{type}}</option>
            </select>
          </td>
        </tr>
        <template v-if="monsterData.evolutionType != 0 && monsterData.evolutionType != null && monsterData.evolutionType != 'null'">
          <tr class="thead-light">
            <th colspan="12">進化前キャラ</th>
          </tr>
          <tr>
            <td colspan="12">
              <monster-incremental-search id="inputEvolutionBaseNo" v-model="monsterData.evolution.baseNo" :monster-table="monsterTable" :image-table="imageTable"></monster-incremental-search>
            </td>
          </tr>
          <tr class="thead-light">
            <th colspan="12">素材</th>
          </tr>
          <tr v-for="n in 5">
            <td colspan="12">
              <monster-incremental-search :id="`inputEvolutionMaterial${n}`" v-model="monsterData.evolution.materials[n - 1]" :monster-table="monsterTable" :image-table="imageTable" :key="n"></monster-incremental-search>
            </td>
          </tr>
        </template>
        <tr class="thead-light">
          <th colspan="12">編集コメント（任意）</th>
        </tr>
        <tr>
          <td colspan="12">
            編集理由などを書いてください。（例：パラメータの更新）
            <textarea class="form-control" id="textareaComment" rows="3" v-model="monsterData.comment" minLength="0" maxLength="1000"></textarea>
          </td>
        </tr>
        <tr>
          <td v-for="n in 12" style="width:8.33333%; padding: 0; border: none;"></td>
        </tr>    
      </table>  
      <button type="submit" class="btn btn-primary" :disabled="isSubmitted">{{isSubmitted ? '送信中' :'送信する'}}</button>
    </form>
  </div>
</script>

<!-- 画像投稿ページ -->
<script type="text/x-template" id="templatePic">
  <div class="row">
    <div class="col-md-6">
      <canvas id="canvas" style="display:none;"></canvas>
      <div class="col-md-12">
        <template v-if="!this.$route.params.no">モンスター番号と</template>
        <template v-else>No.{{this.monsterNo}} {{(monsterTable[monsterNo] || {}).name || 'のモンスター'}}の</template>
        モンスター情報画面の画像ファイルを選択してください。</div>
      <div class="row">
          <div v-if="!this.$route.params.no" class="col-md-12">
            <monster-incremental-search v-model="monsterNo" :monster-table="monsterTable" :imageTable="imageTable"></monster-incremental-search>
          </div>
        <div class="col-md-12">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="monsterImageFile" @change="loadLocalImage">
            <label class="custom-file-label" for="monsterImageFile" style="overflow:hidden;">モンスター情報画像選択</label>
          </div>
        </div>
      
      </div>
      <img :src="uploadImgSrc" style="width: 100%; height: auto;" />
    </div>
    <div v-if="!imageResultSrc" class="col-md-6">
      <p>下記のような画面のスクリーンショットを選択してください。</p>
      <p>アシストしていない状態のものをお願いします。</p>
      <img src="./image/image_sample.jpg" alt="サンプル" />
    </div>

    <div v-if="imageResultSrc" id="result" class="col-md-6">
      <h2>切り抜き結果</h2>
      <div>
        <h3>モンスター画像</h3>
        <img :src="imageResultSrc" style="width: 100%;"/>
      </div>
      <div>
        <h3>アイコン画像</h3>
        <img :src="iconResultSrc" />
      </div>
          
      </table>
      <div style="margin-top: 1em;">
        <button @click="submit" class="btn btn-primary" :disabled="isSubmitted">{{isSubmitted ? '送信中' : 'この画像を送信する'}}</button>
      </div>
    </div>
  </div>
</script>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.1.1/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.1/vue.js"></script>
<script src="https://unpkg.com/vue-router@3.0.1/dist/vue-router.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vuex@3.0.1/dist/vuex.js"></script>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<script src="./script.js"></script>

</body>
</html>